<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.work.WorkDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Work">
        <result column="id" property="id"/>
        <result column="work_address" property="workAddress"/>
        <result column="company" property="company"/>
        <result column="name" property="name"/>
    </resultMap>

    <parameterMap id="Work" type="org.spring.springboot.domain.Work"/>

    <sql id="Base_Column_List">
		id, work_address, company,name
	</sql>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from work
        where name = #{name}
    </select>


</mapper>
